body{
	background-color: #f4f4f4;
	color: #555555;

	font: normal 16px Arial, Helvetica, sans-serif;
  line-height: 1.6em;
	margin: 0;
}

.container{
	width: 80%;
	margin: auto;
}

.container h1{
	font-weight: 800;
	word-spacing: 1em;
	color: CadetBlue;
}

.block{
	float:left;
	width: 50%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

.block img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}

